<%- include (".././partials/header") %>
    <title>HobbyBuddy | Mis publicaciones</title>
    <%- include (".././partials/navbar") %>

        <h1>
            Mis publicaciones
        </h1>
        <% if(events) { %>
            <% events.forEach(event=> { %>
                <div style="position: relative; max-width: 200px;">
                    <a href="/eventos/<%= event._id %>"><input type="image" src="<%= event.image %>"
                            alt="<%= event.name %> image" name="saveForm" class="eventImg submit" id="saveForm"
                            style="max-width: 150px; max-height: 100px;" /></a>
                    <h2 class="pt-2"><a class="event-name" href="/eventos/<%= event._id %>">
                            <%= event.name %>
                        </a></h2>
                    <p>Descripción <%= event.description %>
                    </p>
                    <p># Comentarios <%= event.amountOfComments %>
                    </p>
                </div>
                <% }); %>
                    <% } %>

                        <%- include (".././partials/footer") %>