<!doctype html>
<html lang="en">

<head>
    <title>Aplicaciones</title>
</head>

<body>
    <h1>
        Mis aplicaciones
    </h1>
    <% if(events) { %>
        <% events.forEach(event=> { %>
            <form class="float-right" action="/eventos/<%= event._id %>/desaplicar?_method=DELETE" method="POST">
                <button class="btn btn-sm delete-btn mr-1 mt-2 pb-1" style="width: 28px; height: 28px; padding: 0;"><svg
                        xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg></button>
            </form>
            <div style="position: relative; max-width: 200px;">
                <a href="/eventos/<%= event._id %>"><input type="image" src="<%= event.image %>"
                        alt="<%= event.name %> image" name="saveForm" class="eventImg submit" id="saveForm"
                        style="max-width: 150px; max-height: 100px;" /></a>
                <h2 class="pt-2"><a class="event-name" href="/eventos/<%= event._id %>">
                        <%= event.name %>
                    </a></h2>
            </div>
            <div style="height: 200px">
            </div>
            <% }); %>
                <% } %>
</body>