<%- include (".././partials/header") %>
    <title>HobbyBuddy | Solicitudes</title>
    <%- include (".././partials/navbar") %>

        <div class="container p-5 h-100">
            <div class="row px-5">
                <div class="col px-5 mx-5">
                    <h2 class="text-center">Aplicaciones</h2>
                    <p class="text-center pb-3">¡Recuerda contactar a las personas que aprobaste!</p>
                    <% if(applications) { %>
                        <% applications.forEach(app=> { %>
                            <div class="card profile-card mb-4">
                                <div class="row px-5 pt-3 pb-1">
                                    <div class="col-8">
                                        <p><span class="event-tags">Usuario: </span>
                                            <%= app.user.name %>
                                        </p>
                                        <p><span class="event-tags">Ubicación: </span>
                                            <%= app.user.location %>
                                        </p>
                                        <p><span class="event-tags">Sobre mí: </span>
                                            <%= app.user.about_me %>
                                        </p>
                                    </div>
                                    <div class="col-4 right-align">
                                        <% if(app.status==false) { %>
                                            <form action="/mis_eventos/<%= event_id %>/aplicaciones/<%= app._id %>"
                                                method="POST">
                                                <button class="btn btn-outline-light-2 ">Aprobar</button>
                                            </form>
                                            <% }else{ %>
                                                <p class="h4">APROBADO</p>
                                                <p><span class="event-tags">Contacto: </span>
                                                    <%= app.user.contact %>
                                                </p>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
                </div>
            </div>
        </div>

        <%- include (".././partials/footer") %>